Profile Optimization/Cad Visualization/~$epifanies_katatomon.SLDPRT
Profile Optimization/Cad Visualization/~$gear_conection_V2.SLDASM
~$Kantounias_Antonios_mc18004_Periorismoi_Kai_Sxediasmos_Ypokopon.pptx
~$ntounias_Antonios_mc18004_Periorismoi_Kai_Sxediasmos_Ypokopon.docx
*.asv
Profile Optimization/Cad Visualization/WithoutProcessing/~$epifanies_katatomon.SLDPRT
Profile Optimization/Cad Visualization/WithoutProcessing/~$gear_conection_V2.SLDASM
Profile Optimization/Code Validation Eperiments/~$GearingExperimentsResults.pptx
